if newsItemsGetList&&newsItemsGetList.length>0
  .news-item
    .news-time= time
    - var first=newsItemsGetList[0];
    if newsItemsGetList.length>1
      .news-cover(style={'background-image':'url('+first.picUrl+')'})
        .news-top-title= first.title
      each node,index in newsItemsGetList
        if index>0
          .news-node.clearfix
            .news-node-title= node.title
            .news-node-cover(style={'background-image':'url('+node.picUrl+')'})
    else
      .news-title= first.title
      .news-cover(style={'background-image':'url('+first.picUrl+')'})
      .news-summary= first.desc
    .material-toolbar
      i.fa.fa-pencil-square-o.fa-fw.edit-news(title="编辑")
      i.fa.fa-trash-o.fa-fw.delete-news.view-delete(data-id=resourceId,title="删除")

