extends /layout/main.pug

block variable
  - const title='欢迎页';

prepend script
  script.
    var unresolveduProblemCount = ${unresolveduProblemCount};
    var noAnswerCorpusCount = ${noAnswerCorpusCount};
    var enterIndexCount = ${enterIndexCount};

block mainbody
  .row
    .col-xs-8
      .x_panel
        .x_content
          .cloud-scroll
            .info-wrapper.clearfix
              .col-xs-4
                span 用户：${user.name}
              .col-xs-4
                span
                  i.fa.fa-volume-control-phone
                  c:if(test!="${user.mobile!=null && user.mobile!=''}") ${user.mobile}
                  c:if(test!="${user.mobile==null || user.mobile==''}") 未绑定手机号
              .col-xs-4
                span 所在企业：金童
              .col-xs-4
                span 昵称：${user.nickname}
              .col-xs-4
                span
                  i.fa.fa-envelope-o
                  | ${user.email }
              .col-xs-4
                span
                  c:if(test!="${user.qq!=null && user.qq!='' }") QQ：${user.name}
                  c:if(test!="${user.qq==null || user.qq=='' }") 未绑定QQ号
            #message-content

    .col-xs-4
      .x_panel
        .x_content
          .cloud-scroll
            h2.message-title 系统消息
            table.message-table
              thead
                tr
                  th
                  th(style="width:82px")
              tbody#message-list

block modal
  c:if(test!="${enterIndexCount==1&&noAnswerCorpusCount>0}")
    #unreviewed-modal.modal.fade(tabindex="-1",role="dialog")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title 温馨提示
          .modal-body
            p.msg-center
              | 系统中有
              span.text-danger ${noAnswerCorpusCount}
              | 个新问题未匹配到答案<br/>请尽快处理以提高机器人的智能化水平
          .modal-footer
            a.btn.btn-primary(href='knowledge/corpus/audit/index') 马上处理
            button.btn.btn-default(type='button',data-dismiss='modal') 关闭

